@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.body{
    font-family: "Roboto" ,sans-serif; /*подключаймый шрифт с гугле сервиса в styles*/   
    font-size: 30px; /* точка отсчета для всего текста(базавый разрмер шрифта)*/

}

p2{font-weight: 700; font-size: 1.5em;}
p3{font-size: 0.5em;}
p4{font-size: 0.5em;}
p{font-size: 0.7em;}



.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
   /*  max-width: 500px; */
    height: auto;
    margin: 0 auto;
    margin-top: 8vh;
    font-size: larger;
   
}

.main {
    background-color: rgb(38, 179, 179);
    box-shadow: 0px 0px 10px 10px rgba(251, 252, 238, 0.596);
    border-radius: 20px;
}

.inputs {
    display: flex;
    margin: 10px;
    border: solid 0px;
 
}

.inputs__city {
    width: 300px;
    height: 45px;
    border-radius: 15px;
    text-align: center;
    font-size: 0.9em;
    outline: none;
    
}

.inputs__btn{
    cursor: pointer;
    width: 100px;
    height: 45px;
    border-radius: 15px;
    background-color: rgba(60, 239, 218, 0.873);
    font-size: 0.5em;
    color: rgb(102, 118, 119);
}

.inputs__btn:hover{
    
    transition: 1s;
    background-color: rgba(51, 252, 29, 0.709);
}

.grid {
    color: rgb(252, 251, 251);
    margin-bottom: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.info{
    margin: 10px;
}

.infosky{
    width: 120px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.history{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 10px auto ;
    font-size: 100%;
}
/*     grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
    align-items: center;
}

.info {
    max-width: 200px;
    margin: 0 auto;
    height: auto;
}

.info_city{
    grid-area: 2 / 5 / 1 / 1;
}

.info_wind{
    grid-area: 4 / 5 / 3 / 1;
} */