@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: "Oswald" ,sans-serif; /*подключаймый шрифт с гугле сервиса в styles*/   
    font-size: 36px; /* точка отсчета для всего текста(базавый разрмер шрифта)*/
 }

 h1{ font-size: 2.0em;}

 h2{font-size: 1em;}

 h3{ font-size: 0.8em;}

 h4{font-size: 0.6em;}

 h5{font-size: 0.4em;}

 h6{font-size: 1.5em}

 p {font-size: 0.75em;}

 a:hover{ color: #F7941E;}