.grid-container

{
    display: grid;
    grid-template-areas:
    'test1    test2'
    'test3    test4';
    gap: 10px;
    height: auto;
}

.item1{ background-image: url(images/Media.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;}
.item2{ background-color: black;}
.item3{ grid-area:test3;}
.item4{ grid-area:test4;}

