.grid-container

{
    height: 860px;
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    'test1    test2'
    'test3    test4';
    gap: 0px;
    row-gap: 0px;
    position: relative;
    bottom: 0px;
    background-color: var(--main-bg);
      
}

.item1
{
    height: 370px;
    width: 400px;
    position: absolute;
    left: 137px;
    top: 80px;
    z-index: 1;
}
    
.item2
{ 
    background-color: #222222;
    width: 1170px;
    height: 370px;
    position: absolute;
    top: 80px;
    left: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 478px;
    color: white;
}

.item2_h6

{
    position:relative;
    position: relative;
    bottom: 30px;
}

.item2_nav

{
    font-size: 20px;
    color: white;
    text-decoration: none;
    
}

.item2_nav__black
{
    color:black;
    font-size:18px;
}

.item3
{
    height: 290px;  
    width: 570px;
    position: absolute;
    top: 490px;
    left: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.item4
{
   
    left: 735px;
}

.item_bold

{
    font-weight: bold;
}
