.header {
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 20px;
    font-size: .6em;
}

.header__img {

}

.header__link {

    margin: 20px;
    padding: 10px;

}

.header__btn {

}
