.heroblock 

{
    display: flex;
    height: 700px;
    max-width: 1440px;
    margin: 0px auto;
    background-color: var(--main-bg);
}

.heroblock_reverse

{
    display: flex;
    flex-direction: row-reverse;
 
}
.heroblock__common

{
    width: 100%;
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.heroblock__common_left

{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    
    position: relative;
    left: 10%;
    top: 14%;
     

}

.p
 {  
    text-align: justify;
    padding-right: 36%;
    font-size: 1.9rem;
}

.heroblock__common_right
{
    background-image: url(../Arturs\ Bulkins/images/background1.png);
    
     
}

.heroblock_reverse .heroblock__common_right

{
    background-image: url(../Arturs\ Bulkins/images/background2.png);
}