.ready

{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 240px;
    background-color: var(--bt-main-orange);
    max-width: 1440px;
    margin: 0px auto;
}

.ready_text

{
    margin-left: -190px;
    
}

.ready_buttons

{
    display: flex;
}