.blackblock {
    margin: 0 auto;
    width: 80%;
    height: 370px;
}

    .blackblock__element {
        display: flex;
    }

    .blackblock__element_left {
        width: 33%;
    }
        
    .blackblock__element_right {
        display: flex;
        width: 67%;
        background-color: black;
        color: white;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 40px;
        margin: 0 auto;
    }

    .blackblock__link {
        font-size: 0.8em;
    }

  