.btn {
    padding: 20px;
    text-transform: uppercase;
    border: 1px solid var(--btn-main-color);
    border-radius: 4px;
    background-color: transparent;
    font-size: 1em;
    color: var(--btn-main-color);
}

.btn__full {
    background-color: var(--btn-main-color);
    color: white;
}

.btn__black {
    border: 1px solid black;
    color: black;
}

.btn__black_full {
    background-color: black;
    color: white;
}