* {
    box-sizing: border-box;
   /*  border: solid 1px red !important */
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    background-color: white;
}

@media only screen and (max-width: 600px) {
    body {
    background-color: var(--main-bg);
    }
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
}

p {
    font-size: 0.9em;
}