* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}

h1 {
    font-size: 1.3em;
}

h2 {
    font-size: 1.1em;
}

h3 {
    font-size: 0.9em;
}

p {
    font-size: 0.7em;
}