* {
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    background-color: white;
}

@media only screen and (max-width: 600px) {
    body {
    background-color: var(--main-bg);
    };
}

h1 {
    font-size: 1.3em;
}

h2 {
    font-size: 1.1em;
}

h3 {
    font-size: 0.9em;
}

p {
    font-size: 0.7em;
}