.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0px;
}

.footer_img {
} 

.footer__link {
    display: inline-block;
    padding: 0px 20px;
    font-size: 1.3em;
}