.orangeblock {
    display: flex;
    height: 240px;
    background-color: var(--btn-main-color);
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    }

    .orangeblock__element {
    
    }

    .orangeblock__element_left {
        width: 40%;
        
    }
        
    .orangeblock__element_right {
        width: 60%;
        
    }