.btn {
    height: 70px;
    width: 400px;
    border-radius: 30px;
    background-color: var(--btn-bg);
    border: 0px;
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    top: 90%;
    left: 33%;
}

.btn:hover
{
    height: 110px;
    transition: 500ms;
    animation: btn ;
    background-color: rgb(248, 130, 236);
    
}


@media only screen and (max-width: 1200px)
{
    .btn
    
    {
        height: 18%;
        width: 50%;
        font-size: 25px;
        top: 68%;
        left: 42%;
        
    }
}

@media only screen and (max-width: 850px)
{
    .btn
    
    {
        width: 70%;
        top: 66%;
        left: 15%;
    }
}