.img_left

{
    position:absolute;
    width: 268px;
    height: 268px;
    top: 53%;
    left: 2%;
    

}

.img_right

{
    position:absolute;
    width: 268px;
    height: 268px;
    top: 53%;
    right: 2%
}

.img
{animation: zeka 3s linear infinite; }

@keyframes zeka
    {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
    }

.img2{ animation: zeka2 4s ease-in-out infinite;}
    
@keyframes zeka2
    {
    from {transform: translateX(-600px);}
    to   {transform: translateX(0px);}
    0%   {transform: translateX(-50%);}
    50%  {transform: translateX(50%);}
    100% {transform: translateX(-50%);}
    }

    .img3:hover
    {animation: zeka3 3s linear infinite; }
    
    @keyframes zeka3
    {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
    }

@media only screen and (max-width: 1200px)

{
    .title
    {
        max-width: 800px;
        
        height: 600px;
    }
    .img_left
    
    {
        top: -12%;
        left: -3%;
        width: 370px;
        height: 370px;
    }

    .img_right
    
    {
        display: none;
    }
}

@media only screen and (max-width: 850px)
{
    .img_left 
    {
        top: -20%;
        left: 15%;
        width: 145px;
        height: 145px;
    }

    .img_right
    {
        display: initial;
        top: -20%;
        left: 47%;
        width: 145px;
        height: 145px;
    }
}

