.main 

{
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    height: 1560px;
    margin: 0 auto;

    
  
}

.title

{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1160px;
    height: 324px;  
    border-radius: 30px;
    border-width: 0px;
    box-shadow: 0px 0px 15px 20px rgb(155, 100, 210);
    margin-top: 130px;
    position:relative;
    
}


.title > p {
    position:relative;
    top:40px;
}

.title__2 > h1
    
{
    position:relative;
    top:30px;
}

.link

{
    font-size: 20px;
    font-weight: 600;
    position: relative;
    top: 120px;
}

.title__3 > h1

{
    position:relative;
    top:30px;
}
