.container

{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.title

{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 1160px;  
    border-radius: 30px;
    border-width: 0px;
    box-shadow: 0px 0px 15px 20px rgb(155, 100, 210) ;
    margin-top: 180px;
    text-transform: uppercase;
    position:relative;
}


.title__1 
{
    display: flex;
    justify-content: center;
    height: 300px;
}

.title__1 > p
{
    padding-bottom:1%;
}

.title__2
{
    height: 260px;
}

.title__2 > p
{
    padding: 2.5%;
}

.link
{
    font-size: 15px;
    font-weight: 600;
    position: relative;
    top: 150px;
}

.title__3
{
    height: 205px;
}

@media only screen and (max-width: 1200px)
{
    .container
    
    {
        width: 430px;
    }

    .title
    {
        display: flex;
        justify-content: center;
        padding-left: 70%;
        
       
        width: 850px;
    }

    .title__1 > h1
    {
        padding-bottom: 10%;
        
    }

    .title__2 > h1
    {
        padding-bottom: 5%;
        
    }

    .title > p
    {
        padding-bottom: 5%;
    }

    .link
    {
        top: 110px;
    }

    .title__3 > h1
    
    {
        font-size: 50px;
        padding-bottom: 5%;
        
    }
}

@media only screen and (max-width: 850px)

{    
    .title
        
    
        {
            margin-top: 130px;
            display:flex;
            width: 430px;
            padding-left: 0%;
            padding-bottom: 3%;
        }
}