.circle {
 
    width: 45px;
    height: 45px;
    border-radius: 45%;
    background-color: turquoise;
    display: flex;
    animation: grow 3s infinite;
    
}

.circle_2 {
    animation-delay: 1s;
}

.circle_3 {
    animation-delay: 2s;
}

@keyframes grow {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}