.blog{
	display: flex;
	flex-direction: column;
	padding-bottom: 80px;
	justify-content: space-around;
	align-items: center;
	background-color: var(--main-block-bg);
	max-width: 1440px;
	margin: 0 auto;
	padding-right: 135px;
	padding-left: 136px;
}

.blog__hero {
	display: flex;
	flex-direction: row;
	height: 370px;
	width: 100%;

}

.blog__hero_img {
	background-image: url(../img/blog1.jpeg);
    width: 30%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

	
}

.blog__hero_text {
    background-color: var(--main-dark-hover);
	display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: space-between;
	 padding: 5% 13% 5% 7%;
}
.blog__hero_text p{
	color: var(--main-block-bg);
	font-size: 0.7em;
	}
.blog__hero_text h1{
	color: var(--main-block-bg);
	font-size: 2.4em;
	line-height: 57.6px;
	}
	.blog__hero_text a{
	color: var(--main-block-bg);
	text-decoration: none;
	font-size: 0.9em;
	}
	.blog__hero_text a:hover{
		color: var(--main-orange-bg);
	}

.blog__card{
	display: flex;
	flex-direction: column;
	min-height: 290px;
	justify-content: space-between;
	padding: 4%;
	margin: 1%;

}
	.blog__card_left{
		width: 50%;
		box-shadow : 10px 10px 15px rgba(0,0,0,.05) ;

		
		/* linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 5%); */
	}


	.blog__card_right{
		width: 50%;
	}
	.blog__cards{
		display: flex;
		flex-direction: row;
		width: 100%;
		align-items: center;
	}
	.blog__cards h1{
	font-size: 1.2em;
	}
	.blog__cards p{
	font-size: 0.9em;
	margin-top: -24px;
	}
