* {
	box-sizing: border-box;
	}

body {
	font-family: "Gilroy-Regular", sans-serif;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	color: var(--main-text-color);

  }

h1 {
	font-size: 2.8em;
	font-weight: 900;
	letter-spacing: 1px;

}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: .8em;
}

h4 {
	font-size: 0.7em;
}

p {
	font-size: 1em;
}

p1 {
	font-size: 0.9em;
}
a {
	text-decoration: none;
	color: var(--main-text-color);
}
a:hover {
	text-decoration: none;
	color: var(--main-orange-bg);
}