.gifts{
	display: flex;
	padding-bottom: 120px;
	justify-content: space-around;
	align-items: center;
	background-color: var(--main-block-bg);
	max-width: 1440px;
	margin: 0 auto;
	padding-right: 135px;
	padding-left: 136px;
}

.gift{
	background-color: var(--main-bg); 
	width: 25%;
	margin: 10px;
	min-height: 436px;
}
.gift__active {
background-color: var(--main-block-bg); 
box-shadow : 10px 10px 15px rgba(0,0,0,.05) ;


}

.gift img {
	 width: 100%;
}

.gift__text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 166px;
	padding: 7% 8% 10% 9%;
}
