.gridblog{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 0 auto;
	grid-gap: 30px;
	width: 1440px;
	/* height: 770px; */
	padding-top: 80px;
	padding: 80px 135px 135px 80px;
	/* margin-bottom: 20px; */
	position: relative;
	grid-template-areas:
		 "hero hero"
		 "left right";
}
.herocontainer{
	grid-area: hero;
	width: 100%;
	display: flex;
}
.gridblog__hero{
	background-color: var(--main-dark-hover);
	display: flex;
	width: 67%;
	flex-direction: column;
	justify-content: space-around;
	padding: 5%;
}
.gridblog__img{
	display: flex;
	height: 370px;
	width: 33%;
	background-image: url(../img/blog1.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.gridblog__hero p{
	color: var(--main-block-bg);
	font-size: 0.7em;
	}
.gridblog__hero h1{
	color: var(--main-block-bg);
	font-size: 2.4em;
	line-height: 57.6px;
	}
.gridblog__hero a{
	color: var(--main-block-bg);
	text-decoration: none;
	font-size: 0.9em;
	}
.gridblog__hero a:hover{
		color: var(--main-orange-bg);
	}
.gridblog__hero_left{
	grid-area: left;
	display: flex;
	min-height: 290px;
	box-shadow: 10px 10px 15px rgba(0, 0, 0, .05);
	flex-direction: column;
	justify-content: space-between;
	padding: 4%;
	margin-top: 10px;
}
.gridblog__hero_left h1{
	font-size: 1.2em;
	font-weight: 900;
	}
.gridblog__hero_left p{
	font-size: 0.9em;
	margin-top: -5%;
	} 
.gridblog__hero_right{
	grid-area: right;
	display: flex;
	min-height: 290px;
	flex-direction: column;
	justify-content: space-between;
	padding: 4%;
	margin-top: 10px;
}
.gridblog__hero_right h1{
	font-size: 1.2em;
	font-weight: 900;
	}
.gridblog__hero_right p{
	font-size: 0.9em;
	margin-top: -5%;
	}

