.header{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #FAFAFA;
	padding: 40px 0px;
	;

}

.header__img{
	
}

.header__link{
padding: 0px 20px;
font-size: 0.9em;
color: var(--main-text-color);
text-decoration: none;
}

.header__link:hover{
color: var(--main-orange-bg);

}


.header__btn{

}