body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0 auto;
   background-color: #f5f5f5;
   font-weight: bold;
}


.calculator {
   width: 320px;


}

.output {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 20px;
   background-color: #fff;
   color: #222;
   font-size: 2rem;
   margin-bottom: 10px;
   overflow: auto;
}

.buttons {
   display: grid;
   grid-template-areas:
      "plus minus multiply divide"
      "seven eight nine equals"
      "four five six equals"
      "one two three equals"
      "clear zero dot equals";
   gap: 10px;
   cursor: pointer;

}


.btn {

   display: flex;
   justify-content: center;
   color: #fff;
   border: transparent;
   border-radius: 3px;
   background-color: rgb(94, 91, 91);
   padding: 15px;

}

.btn:hover {
   background-color: rgb(120, 120, 120);

}

#equal {
   grid-area: equals;
   align-items: center;
   background-color: rgb(8, 8, 8);
}

#equal:hover {
   background-color: rgb(50, 50, 50);
}