.blogCard{
    display: flex;
    flex-direction: column;
    width: 100%;   

}

.blogCardFeature{
    display: flex;
    height: 370px;
}

.blogCardFeature__left{

}

.blogCardFeature__right{
    display: flex;
    flex-direction: column;
    margin: 50px 100px;
    gap: 40px;
}

.blogCardFeature__right_link{

}

.blogCard__item_container{
    display: flex;
}

.blogCard__item{
    display: block;
    margin: 10px;
}

.blogCardFeature__img{

}