.blogCard{
    display: flex;
    flex-direction: column;
    width: 100%;   

}

.blogCardFeature{
    display: flex;
    margin: 0 135px;
    width: 1170px;
    height: 370px;
}

.blogCardFeature__left{
    width: 35%;
    height: 100%;
    background-image: url(../images/blockImg.png);
    background-color: gray;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.blogCardFeature__right{
    display: flex;
    flex-direction: column;
    margin: 50px 100px;
    gap: 40px;
}

.blogCardFeature__right_link{

}

.blogCard__item_container{
    display: flex;
}

.blogCard__item{
    display: block;
    margin: 30px 10px;
}

.blogCardFeature__img{

}