.blogCard{
    display: flex;
    flex-direction: column;
    width: 100%;   

}

.blogCardFeature{
    background-color: #231F20;
    display: flex;
    margin: 0 auto;
    width: 1170px;
    height: 370px;
}

.blogCardFeature__left{
    width: 40%;
    height: 100%;
    background-image: url(../images/blockImg.png);
    background-color: gray;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.blogCardFeature__right{
    display: flex;
    color: var(--text-white);
    flex-direction: column;
    margin: 50px 100px;
    gap: 40px;
}
.blogCardFeature__right a{
    color: var(--text-white);
}
.blogCardFeature__right p{
    font-size: 3.9rem;
}

.blogCard__item_container{
    display: flex;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.blogCard__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    max-width: 570px;
    max-height: 290px;
    margin: 30px;
    gap: 16px;
}
.blogCard__item h3{
    font-size: .8rem;
}

@media only screen and (max-width: 800px) {
    .blogCardFeature{
        flex-direction: column;
    }
    .blogCardFeature__left{
        display: none;
    }
}