.cardBlock{
    display: flex;
    width: 100%;
    height: 550px;
    justify-content: center;
}

.cardBlock__item{
    width: 270px;
    height: 436px;
    margin: 0px 20px;

}

.cardBlock__item_img{
    width: 270px;
    height: 270px;
}

.cardBlock__item_link{
    display: flex;
    margin-top: 90px;
}