* {
    box-sizing: border-box;
    border: solid 1px red !important;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

.background-container{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}