.heroBlock{
    display: flex;
    width: 100%;
    height: 700px;
    background-color: var(--heroblock-color);
    ;
}
.heroBlock_reverse{
    flex-direction: row-reverse;
}

.heroBlock__element{
    width: 50%;
    
}

.heroBlock__element_left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10%;
    
}

.heroBlock__element_right{
    width: 50%;
    height: 100%;
    background-image: url(../images/img1.png);
    background-color: gray;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.heroBlock__element_leftimg{
    width: 50%;
    height: 100%;
    background-image: url(../images/img2.png);
    background-color: gray;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heroBlock__element_left h1{
    width: 50%;
    
}

.heroBlock__element_left p{
    width: 50%;
    margin: 15px 0;
    font-size: 1rem;
    font-weight: 300;
}

@media only screen and (max-width: 800px) {
    .heroBlock{
        flex-direction: column;
    }
    .heroBlock__element{
        width: 100%;
    }
    
}