.heroBlock{
    display: flex;
    width: 100%;
}
.heroBlock_reverse{
    flex-direction: row-reverse;
}

.heroBlock__element{
    width: 50%;
}

.heroBlock__element_left{
    

}

.heroBlock__element_right{

}


.background-container{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.heroBlock__btn{
    
}