.icon {
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    display: block;
}

.icon_1 {
    width: 268px;
    height: 268px;
    background-position: -5px -5px;
}

.icon_2 {
    width: 269px;
    height: 269px;
    background-position: -283px -5px;
}

.icon_3 {
    width: 280px;
    height: 281px;
    background-position: -5px -284px;
}

.icon_4 {
    width: 276px;
    height: 276px;
    background-position: -295px -284px;
}

.icon_5 {
    width: 273px;
    height: 273px;
    background-position: -581px -5px;
}

.icon_6 {
    width: 292px;
    height: 292px;
    background-position: -581px -288px;
}
