.grid_calculator {
    display: grid;
    place-items: center;
    align-content: center;
    gap: 20px;
    width: 700px;
    height: 900px;
    margin: 0 auto;
    grid-template-areas:
    'white white white white'
    'btn_1   btn_2   btn_3   btn_4'
    'btn_11   btn_12   btn_13   black'
    'btn_8   btn_9   btn_10   black'
    'btn_5   btn_6   btn_7   black'
    'btn_14   btn_15   btn_16   black';
    font-family: sans-serif;
}

.btn_1{grid-area: btn_1;}
.btn_2{grid-area: btn_2;}
.btn_3{grid-area: btn_3;}
.btn_4{grid-area: btn_4;}
.btn_5{grid-area: btn_5;}
.btn_6{grid-area: btn_6;}
.btn_7{grid-area: btn_7;}
.btn_8{grid-area: btn_8;}
.btn_9{grid-area: btn_9;}
.btn_10{grid-area: btn_10;}
.btn_11{grid-area: btn_11;}
.btn_12{grid-area: btn_12;}
.btn_13{grid-area: btn_13;}
.btn_14{grid-area: btn_14;}
.btn_15{grid-area: btn_15;}
.btn_16{grid-area: btn_16;}

.white {
    grid-area: white;
    width: 650px;
    height: 110px;
    background-color: white;
    text-align: end;
    align-content: center;
    font-size: 40px;
}

.btn {
    background-color: var(--main-color);
    height: 80px;
    width: 110px;
    border-radius: 7px;
    align-content: center;
    text-align: center;
    color: white;
    font-size: 30px;
    cursor: pointer;
} 

.btn_black {
    grid-area: black;
    width: 110px;
    height: 500px;
    background-color: rgb(16, 12, 46);
    color: white;
    border-radius: 7px;
    text-align: center;
    align-content: center;
    font-size: 40px;
    cursor: pointer;
    decoration: none;
}

.history {
    width: 650px;
    height: 50px;
    background-color: white;
    text-align: right;
    font-size: 40px;
    list-style-type: none;
    margin: 0 auto;
    color: black;
    font-family: sans-serif;
}









