@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
   font-family: "Oswald", sans-serif;

}

a {
   color: var(--color-dark);
}


.container {
   max-width: 1200px;
   margin: 0 auto;
   padding-inline: 15px;
}