.footer {
   background-color: var(--main-bg);
}

.footer__main {
   margin-top: 130px;
   height: 300px;

}

.footer__main-header {
   padding-top: 50px;
   margin-bottom: 100px;
   border-bottom: 1px solid rgb(0, 0, 0);
   
}


.header-menu-list {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 20px;


}

.header-menu-link {
   font-size: 14px;
   font-weight: 700;
   padding: 0 50px;
}

.logo-footer {
   background-color: var(-main-orange);
}


.footer-social {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 40px;
}

.footer-social-list {
   display: flex;
   column-gap: 25px;
}

.footer-extra-inner {
   display: flex;
}

.footer-copyright {
   margin-left: 500px;
   padding: 15px;
}

.footer-copyright a:first-child {
   margin-left: 20px;
}

.footer-copyright a:hover {
   color: #5c5858;
   transition-duration: var(--transition-duration);
}

.header-menu-item a:hover {
   color: #5c5858;
   transition-duration: var(--transition-duration);
}

.item {
   display: flex;
   gap: 25px;
   justify-content: center;
}

.sprite {
   background-image: url(../img/icons/spritesheet.png);
   background-repeat: no-repeat;
   display: block;
}

.sprite-github {
   width: 30px;
   height: 30px;
   background-position: -25px -25px;
}

.sprite-gmail {
   width: 30px;
   height: 30px;
   background-position: -105px -25px;
}

.sprite-linkedin {
   width: 30px;
   height: 30px;
   background-position: -185px -25px;
}

.sprite-stackoverflow {
   width: 30px;
   height: 30px;
   background-position: -265px -25px;
}

.sprite-tumblr {
   width: 30px;
   height: 30px;
   background-position: -345px -25px;
}

.sprite-twitter {
   width: 30px;
   height: 30px;
   background-position: -425px -25px;
}