.footer {
   background-color: var(--main-bg);
}

.footer__main {
   max-width: 1200px;
   margin: 0 auto;
   margin-top: 130px;
   height: 300px;

}

.footer__main-header {
   padding-top: 50px;
   margin-bottom: 100px;
}


.header-menu-list {
   display: flex;
   display: flex;
   align-items: center;
   justify-content: center;

}

.header-menu-link {
   font-size: 14px;
   font-weight: 700;
   padding: 0 50px;
}

.logo-footer {
   background-color: var(-main-orange);
}


.footer-social {
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer-social-list {
   display: flex;
   column-gap: 25px;
}

.footer-extra-inner {
   display: flex;
}

.footer-copyright {
   margin-left: 500px;
   padding: 15px;
}

.footer-copyright a:first-child {
   margin-left: 20px;
}

.footer-copyright a:hover {
   color: #5c5858;
   transition-duration: var(--transition-duration);
}

.header-menu-item a:hover {
   color: #5c5858;
   transition-duration: var(--transition-duration);
}