.animation 

{
    display: flex;
    margin: 25% 50%;
    width: clamp( 5px, 30%, 70px);
    height: 10px;
   
  
    
    
}

.animation__loader

{

    display: flex;
    margin: 0 auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--btn-bg);
    border-color: var(--btn-bg);
    animation: loader 1s linear infinite;
    
}

.animation__loader_1{   }
.animation__loader_2{animation-delay: 0.25s;}
.animation__loader_3{animation-delay: 0.5s;}

@keyframes loader

{
    0%{}
    50%
    {   transform: scale(1.5);
        background-color: var(--btn-bg2);
    }
    100%{}
}

:root
{
    --btn-bg: rgba(203, 199, 199, 0.651);
    --btn-bg2: rgb(130, 127, 127);}