.btn {
    padding: 20px;
    text-transform: uppercase;
    border: 1px solid var(--main-orange);
    border-radius: 5px;
    background-color: transparent;
    font-size: .4em;
    color: var(--main-orange);
}

.btn_full {
    background-color: var(--main-orange);
    color: white;
}

.btn_danger {
    background-color: var(--main-red);
    color: white;
}

.btn_small {
    padding: 20px;
    font-size: .2em;
}

.btn_big {
    padding: 30px;
    font-size: .6em;
}