.heroBlock {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.heroBlock_reverse {
    flex-direction: row-reverse;
}

.heroBlock__element {
    width: 50%;
    height: 300px;
}

.heroBlock__element_left {
    background-color: #f00;
}
.heroBlock__element_right {
    background-color: blueviolet;
}
