.heroBlock {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.heroBlock_reverse {
    flex-direction: row-reverse;
}

.heroBlock__element {
    width: 50%;
    height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.heroBlock__element_left {
    display: flex;
    background-color: var(--mai);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 6%;
}

.heroBlock__element_right {
    background-image: url(../img/bg1.png);
}

.heroBlock_reverse .heroBlock__element_right {
    background-image: url(../img/bg2.png);
}
