.todo{
    width: 400px;
    padding: 7px;
    border-bottom: 1px solid black;
    display: flex
;
    justify-content: space-between;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.disabled {
	display: none;
 }
.todo_done {
	color: red;
	text-decoration: line-through;
}


.editBtn {
	margin-left: 150px;
}