.todo{
	width: 400px;
	padding: 7px;
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-between;
	justify-content: flex-start;
}



.todo_done {
	color: red;
	text-decoration: line-through;
}

.disabled {
   display: none;
}
.editBtn {
	margin-left: 150px;
}