.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-radius: 10px;
    margin: 10px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    transition: 1s;
    
}

.btn__black {
    background-color: black;
}

.btn:hover{
    transition: .5s;
    box-shadow: 0px 0px 10px black;
}
