* {
    box-sizing :border-box
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
}
 
h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.0em;
}

h3 {
    font-size: 0.8em;
}

p {
    font-size: 0.6em;
}

@media only screen and (max-width :800px) {

}