.rectangle{
    display: block;
    position: relative;
    text-align: center;
    width: 1160px;
    height: 324px;
    background-color: transparent;
    border: 5px solid var(--rectangle-border);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 3px var(--rectangle-border), inset 0px 0px 10px 3px var(--rectangle-border);
    margin: 135px;
}

.img__left{
    position: relative;
    top: 55px;
    left: -105px;
}
.img__right{
    position: relative;
    top: 70px;
    right: -105px;
}
.rectangle h2{
    position: relative;
    top: 70px;
    
}
.rectangle h1{
    position: relative;
    top: 89px;
}
.rectangle a{
    position: relative;
    top: ;
}