.btn{
    padding: 20px;
    text-transform: uppercase;
    border: 1px solid var(--main-orange);
    border-radius: 5px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: transparent;
    font-size: large;
    color: var(--main-orange);
    margin-top: 30px;
}
.btn_full {
    background-color: var(--main-orange);
    color: white;
    margin-top: 40px;
}
.btn_full_blackFont {
    background-color: var(--main-orange);
    color: black;
    border: 1px solid black;
}
.btn_black{
    background-color: black;
    color: white;
}
.button-container {
    display: flex;
    padding-left: 500px;
    gap: 10px; 
    margin-top: 10px; 
}

.btn_danger {
    background-color: var(--main-red);
    color: white;
}

.btn_small {
    padding: 20px;
    font-size: .2em;
}

.btn_big {
    padding: 30px;
    font-size: .6em;
}