.heroBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.heroBlock_reverse {
    flex-direction: row-reverse;
}

.heroBlock__element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;
    width: 50%;
    height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.heroBlock__element_left {
    display: flex;
    background-color: trasn;
    flex-direction: column;
    padding-left: 10%;
    align-items: baseline
    
    

   
}

.heroBlock__element_right {
    background-image: url(../img/bg1.png);
}

.heroBlock_reverse .heroBlock__element_right {
    background-image: url(../img/bg2.png);
}
.heroBlock__link{
    font-size: medium;

}
@media only screen and (max-width:800px){
    .heroBlock {
        flex-direction: column;
        align-items: center;
        width:100%
        
    }
    .heroBlock__element {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .heroBlock__element_left {
        align-items: center;
        text-align: center;
    }

    .heroBlock__element_right {
        background-size: contain;
    }
}
