.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    background-color: aliceblue;
}

.title_important {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title_warning {
    display: flex;
    justify-content: space-evenly;
    background-color: orange;
    font-weight: bold;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 240px;
}

@media only screen and (max-width: 800px) {
    .title {
        width: 100%;
        text-align: center;
    }

    .title_important {
        flex-direction: column;
        text-align: center;
    }

    .title_warning {
        flex-direction: column;
        height: auto;
        padding: 20px;
        text-align: center;
    }

    .title_warning div {
        width: 100%;
        margin-bottom: 10px;
    }

    .title_warning div:last-child {
        margin-bottom: 0;
    }
}