.grid-container

{
    height: 720px;
    width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    'test1    test2'
    'test3    test4';
    gap: 0px;
    row-gap: 0px;
    position: relative;
    bottom: 61px;
    
      
}

.item1
{
    height: 370px;
    width: 400px;
    position: absolute;
    left: 137px;
    top: 80px;
    z-index: 1;
}
    
.item2
{ 
    background-color: #222222;
    width: 1170px;
    height: 370px;
    position: absolute;
    top: 80px;
    left: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 478px;
    color: white;
}

.item2_h6

{
    position:relative;
    position: relative;
    bottom: 30px;
}

.item2_nav

{
    font-size: 20px;
    color: white;
    text-decoration: none;
    
}

.item2_nav__black
{
    color:black;
    font-size:18px;
}

.item3
{
    height: 290px;  
    width: 570px;
    position: absolute;
    top: 490px;
    left: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.item4
{
   
    left: 735px;
}

.item_bold

{
    font-weight: bold;
}

@media only screen and (max-width: 1500px)

{
    .grid-container
    {
        display: flex;
        position: relative;
        flex-direction: column;
        margin-block: 8%;
        gap: 20px;
    }
    .item1
    {
        
        position: absolute;
        top: 0%;
        left: 0%;
        width: 21%;
        height: 36.9%;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    }

    .item2
    {
        display: flex;
        position: initial;
        
        padding-left: 25%;
        min-width: 100%;
    }

    .item3
    {
        position: initial;
        min-width: 40%;
        padding-right: 0%;
        margin-left: 14%;
    }

    .item4
    {
        margin-left: 30%;
    }


}

@media only screen and (max-width: 800px)

{
    
    .grid-container
    
    {
        height: 500px;
        margin-block: 13%;
    }

    .item1
    {
        position: initial;
        display: none;
    }

    .item2

    {
        max-height: 200px;
        padding-left: 3%;
    }

    .item3
    {
        height: 50%;
        min-width: 38%;
        padding-left: 0%;
        margin-left: 3%;
    }

}