.card{
border: 5px solid var(--main-colour);
border-radius: 30px ;
position: relative;
height: 324px;
text-align: center;
color: white;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
margin-top: 150px;
gap: 20px;
box-shadow: 0px 0px 10px var(--main-colour) 
}

.card__output{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: auto;
    top: 170px;

}
.card__link{
    display: flex;
    color: white;
    justify-content: center;
    padding-top: 40px;
    
}

.card__title_title1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
   
@media only screen and (max-width:800px){
    .card,
    .card__output,
    .card__link {
        display: flex;
        width:50%;
        height: 100%;
        flex-direction: column;
        
    }
}
@media only screen and (max-width:600px){
    .card__link{
        display: none;
    }
}
@media only screen and (max-width:600px){
    .card,
    .card__output {
        display: flex;
        flex-direction: column;
        padding-bottom: 70px;
        width:25%;
        height: 100%;
        flex-direction: column;
        
    }
}
