@font-face {
	font-family: 'FuturaPTDemi';
	src: url('../fonts/FuturaPTDemi.woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaPTBold';
	src: url('../fonts/FuturaPTBold.woff2');
	font-weight: bold;
	font-style: normal;
}