.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:active {
    background-color: #ddd;
}

.operator {
    background-color: #f9a825;
    color: white;
}

.operator:active {
    background-color: #f57c00;
}