* {
    box-sizing: border-box;
}
body{font-family: "Oswald", sans-serif;
    font-size: 48px;
}
h1{
    font-size: 1.5em;
}
h2{
    font-size: 1em;
}
h3{
    font-size: .8em;
}
p{
    font-size: .8em;
}