.cardBlock {
  display: flex;
  /* unicode-bidi: isolate; */
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 300px;
  align-items: center;
  /* background-color: grey; */
  max-width: 1200px;
  margin: 0 auto;
  /* height: 820px; */
}
.card {
  width: 25%;
  background-color: var(--main-bg);
  margin: 10px;
  /* flex-direction: row; */
}

.card img {
  width: 100%;
}

.card__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  padding: 10px;
  background-color: #fafafa;
}

/* .cardBlock__text {
} */
