.heroBlock {
  display: flex;
  width: 100%;
  /* background-color: #fafafa; */
}

.heroBlock__element {
  width: 50%;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.heroBlock__element_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 6%;
}
.heroBlock__element_right {
  background-image: url(../Img/projectOne_bodyPictureOne.jpeg);
}
.heroBlock_reverse .heroBlock__element_right {
  background-image: url(../Img/projectOne_bodyPictureTwo.jpeg);
}

.heroBlock_reverse {
  flex-direction: row-reverse;
}
