.gifts {
    display: flex;
    padding-bottom: 300px;
    align-items: center;
    justify-content: space-around;
    background-color: var(--main-bg);
    max-width: 1200px;
    margin: 0 auto;
}

.gift {
    background-color: rgb(241, 241, 241);
    width: 25%;
    margin: 10px;
}
.gift img {
    width: 100%
}

.gift__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
    padding: 10px;
}
.gift__text a{
    font-size: .6em;
    text-decoration: none;
}