
.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0px;
}

.header nav {
    display: flex;
}

.header__img {

}

.header__link {
    padding: 0px 20px;
}

.header__btn {

}

body {
    background-color: white;
}

@media only screen and (min-width :800px) {
    .header,
    .header nav {
        flex-direction: column;
    }
    .header nav {
        display: none;
    }
}

