.heroBlock {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(241, 241, 241);
}

.heroBlock_reverse {
    flex-direction: row-reverse;
}

.heroBlock__element {
    width: 50%;
    height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 1.5;
}

.heroBlock__element_left { 
    display: flex;
    padding-left: 6%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.heroBlock__element_right {
    background-image: url(../img/couple.jpg);
}

.heroBlock_reverse .heroBlock__element_right {
    background-image: url(../img/thanks.jpg); 
}

@media only screen and (max-width :800px) {
    .heroBlock {
        flex-direction: column;
    }
    .heroBlock__element {
        width: 100%;
    }
}