.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
    background-attachment: aliceblue;
}

.title_important {
    background-color: var(--main-bg);
}

.title_warning {
    background-color: yellow;
}

.title_success {
    background-color: green;
}
