@import url(reset.css);


.calculator {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    border: solid 1px black;
    width: 120px;
    height: 160px;
    padding: 5px;
    margin: 0 auto;
    margin-block: 10%;
    background-color: rgb(182, 180, 180);
    border: none;
}

.input {
    border: solid 1px black;
    margin-bottom: 8px;
    height: 15px;
    border: none;
}

.calculator_grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 4px;
    margin: 0 auto;
    width: 100%;
}

.btn {
    height: 23px;
    text-size-adjust: 2px;
    color: white;
    background-color: rgb(119, 119, 122) ;
    border-radius: 3px;
    border: none;

}

.equal {
    grid-column-start: ;
    grid-column-end: ;
    grid-row-start: ;
    grid-row-end: ;
}