.calculator {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    width: 120px;
    height: 160px;
    padding: 5px;
    margin: 0 auto;
    margin-block: 10%;
    background-color: rgba(34, 39, 39, 0.846);
    border: 0.5px solid;;
    border-color: var(--main-color);
    border-radius: 0px;
    animation: calculatorShadow 3s linear infinite;
    box-shadow: inset 0px 0px 5px 7px var(--main-color);
}

@keyframes calculatorShadow{
    0%{box-shadow: 0px 0px 20px var(--main-color),
        inset  0px 0px 8px var(--main-color);}
    50%{box-shadow: 0px 0px 4px var(--main-color),
        inset  0px 0px 8px var(--main-color);}
    100%{box-shadow: 0px 0px 20px var(--main-color),
        inset  0px 0px 8px var(--main-color);}

}

.calculator_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4px;
    margin: 0 auto;
    width: 100%;
}

.output {
    
    background-color: var(--main-color);
    grid-area: 1 / 5 / 2 / 1;
    height: 15px;  
    display: grid;  
    justify-content: end;
    align-content: space-around;
    font-size: 60%;
    margin-bottom: 5px;
    /* color: white; */
   

}

.btn {
    font-size: 40%;
    text-size-adjust: 2px;
    color: rgb(255, 255, 255);
    height: 23px;
    background-color: rgba(88, 90, 94, 0.623) ;
    border-radius: 0%;
    border: none;
    

}

.btn:hover {
    opacity: 70%;
    box-shadow: 0px 0px 2px 1px var(--main-color),
    inset 0px 0px 2px 1px var(--main-color);
}

.equal {
    grid-area: 7 / 5 / 3 / 4;
    height: auto;
    background-color: rgb(24, 24, 24);
}

:root {
    --main-color: rgba(104, 205, 205, 0.921);
}
