@import url(reset.css);



.calculator {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    border: solid 1px black;
    width: 120px;
    height: 160px;
    padding: 5px;
    margin: 0 auto;
    margin-block: 10%;
    background-color: rgb(39, 49, 58);
    border: none;
    border-radius: 5px;
    animation: calculatorShadow 3s linear infinite;
    /* box-shadow: 0px 0px 5px 7px rgb(34, 40, 40); */
}

@keyframes calculatorShadow{
    0%{box-shadow: 0px 0px 20px rgb(59, 132, 204);}
    50%{box-shadow: 0px 0px 0px rgb(59, 132, 204);}
    100%{box-shadow: 0px 0px 20px rgb(59, 132, 204);}

}

.calculator_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4px;
    margin: 0 auto;
    width: 100%;
}

.output {
    border: none;
    background-color: rgb(20, 18, 15);
    grid-area: 1 / 5 / 2 / 1;
    height: 15px;  
    display: grid;  
    justify-content: end;
    align-content: space-around;
    font-size: 60%;
    margin-bottom: 5px;
    color: white;
   

}

.btn {
    font-size: 35%;
    text-size-adjust: 2px;
    color: white;
    height: 20px;
    background-color: rgb(77, 77, 78) ;
    border-radius: 0%;
    border: none;

}

.btn:hover {
    opacity: 70%;
    box-shadow: 0px 0px 2px 1px rgb(59, 132, 204),
    inset 0px 0px 2px 1px rgb(59, 132, 204);
}

.equal {
    grid-area: 7 / 5 / 3 / 4;
    height: auto;
    background-color: rgb(24, 24, 24);
}