.inputs input[type="text"] {
    padding: 10px;
    width: 80%;
    margin-right: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
}

.inputs input[type="submit"] {
    padding: 10px 20px;
    background-color: #ff7f50;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.inputs input[type="submit"]:hover {
    background-color: #ff6347;
}